:root {
    --nilo: #209CEE;
    /*  color pallete https://colorhunt.co/palette/6527be9681eb45cfdda7ede7 */
    --hover-color: #f9f9f9;
    scroll-behavior: smooth;
    
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;

}
a {
    color: black;
}
/* hide scroll bar for Chrome */
body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: Poppins,Roboto,sans-serif;
    text-decoration: none;
    margin-top: 12vh;
}

#home {
    background-color: #f9f9f9;
    padding: 10rem 0;
}
#test {
    background-color: var(--nilo);
}
html {
    scroll-behavior: smooth;
    /* to scroll smoothly on clicking ids */
    max-width: 100%;
    
}

/* Start of navbar*/

.logo {
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 2px;
}

.navbar {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    font-size: 1.2rem;
    padding: 20px 30px 30px 50px;
    transition: 0.7s ease-in-out;
    top:0;
    left: 0;
    width: 100% ;
    height: 12vh;
    z-index: 10;
}
.nav-menu {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-size: 1rem;
    
}
.nav-item {
    margin: 0;
}
.nav-link {
    font-weight: 600;
    transition: 0.7s ease-in-out;
}

.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px auto;
    
    transition: all 0.4s ease-in-out;
}
/* hover underline animation */

.hover-underline-animation {
    display: inline-block;
    position: relative;

}
.hover-underline-animation:after {
    content: "" ;
    background-color: var(--nilo);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.25s ease-in-out;
}
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



/* end of hover underline animation
 */



@media only screen and (max-width: 768px)
{
    /* hide larger menu on small screen */
    /* nav ul {
        display: none; 
    } */
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .bar:nth-child(2) {
        transform: translateX(3px);
    }
    .nav-menu {
        padding: 0;
        margin: 0;
        position: fixed;
        left: -100%;
        top: 12vh;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.5s;
        background-color: #000000;
        z-index: 10;
        
    }
    .navbar-item {
        padding: 0;
        margin: 0;
    }
    .nav-link {
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px 20px;
        color: #ffffff;
    }
    .nav-menu.open {
        left: 0;
    }
    .hero-main {
        flex-direction: column;
        text-align: center;
    }
    .hero-text h1 {
        text-align: center;
    }
    .hero-text span {
        justify-content: center;
    }
    .contact-container {
        flex-direction: column;
    }
    .left, .right, .button-section {
        width: 100%;
    }
}

/*start of hero section*/
.container {
    padding: 1rem 5rem;
}
.hero-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    transition: all 1s ease-in-out;
    
}
.hero-image {
    border: 3px solid rgba(9,9,121,1);
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 20rem;
    transition: all 1s ease-in-out;
    width: 20rem;
    animation: morph 7s ease-in-out infinite;
}

/*Animation definition*/
@keyframes morph 
{
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}


.hero-text {
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
}
.hero-text span {
    display: flex;
    gap: 1rem;
}
.hero-text span a:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    border-radius: 100%;
}



/* start of projects section */
.projectlist {
    padding: 100px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    row-gap: 4rem;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.project:hover {
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
}
.project:onmouseleave {
    transform: translateY(-10px) rotate(360deg);
}

/* contact container */
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10rem;
}
.left, .right {
    flex: 1;
    text-align: center;
}

.button-section {
    display: flex;
    flex: 1;
    column-gap: 2rem;
}


.transparent-button {
    color:#000000;
    background-color: transparent;
    outline: none;
    border: 3px solid black;
    font-size: 1rem;
    padding: 10px;
    font-family:'Montserrat', sans-serif;
    border-radius: 4px;
    text-transform: uppercase;
    transition: 0.3s all ease-in;
    cursor: pointer;
    max-width: 200px;
    flex: 1;
}
.transparent-button:hover {
    color: #fff;
    background-color: #000000;
}

.about-container {
    background: #209CEE;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(0, 212, 255) 100%);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-flow: row wrap; 
}
.about-text {
    width: 50vw;
    text-align: center;
}
#contact {
    background-color: #209CEE;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.footer {
    background-color: #000000;
    color:#ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}



/*  contact section */
.email {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}